Repository chaos-mesh/website-zh, pull requests merged in 2021-06, with the labels that each got.

#23 docs: add document for manager roles
  docs/img/dashboard_login1.png
  docs/img/dashboard_login2.png
  docs/img/token_helper.png
  docs/img/token_manager.png
  docs/manage-roles.md
Labels: docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#12 docs: add document for stress attack in chaosd
  docs/simulate-heavy-stress-in-physical-nodes.md
Labels: docs, size/L, status/LGT1, status/can-merge

#10 docs: add chaosd overview
  docs/chaosd-overview.md
Labels: docs, size/S, status/LGT1, status/can-merge

#11 docs: add basic-features
  docs/basic-features.md
  docs/img/dashboard-overview.png
Labels: do-not-merge/blocked-paths, docs, size/M, status/LGT1

#15 docs: add helm-installation
  docs/common/quick-run.md
  docs/common/verify-installation.md
  docs/production-installation-using-helm.md
  docs/quick-start.md
  sidebars.js
Labels: do-not-merge/blocked-paths, docs, size/L, status/LGT1

#13 docs: add simulate PodChaos
  docs/img/create-pod-chaos-on-dashborad-1.jpg
  docs/simulate-pod-chaos-on-kubernetes.md
Labels: do-not-merge/blocked-paths, docs, size/L, status/LGT1

#21 docs: inspect chaos mesh workflow
  docs/inspect-chaos-mesh-workflow.md
Labels: do-not-merge/blocked-paths, docs, size/S, status/LGT1, status/require-change

#24 docs: define the scope of Chaos Experiment
  docs/define-chaos-experiment-scope.md
  docs/img.png
  docs/img/dashboard_selectors.png
  docs/img/dashboard_selectors_zh.png
Labels: do-not-merge/blocked-paths, docs, size/L, status/LGT1

#19 docs: offline installation
  docs/offline-installation.md
Labels: do-not-merge/blocked-paths, docs, size/L, status/LGT1

#20 docs: chaos experiments in serial or parallel
  docs/run-chaos-experiments-in-parallel-or-concurrently.md
  docs/run-chaos-experiments-in-serial-or-parallel.md
  sidebars.js
Labels: docs, size/L, status/LGT1

#29 add document for DNSChaos
  docs/img/create-new-exp.jpeg
  docs/img/dnschaos-exp.png
  docs/img/exp-info.png
  docs/simulate-dns-chaos-on-kubernetes.md
Labels: docs, size/L, status/LGT1, status/can-merge

#5 docs: add chaosctl
  docs/chaosctl-tool.md
Labels: docs, size/M, status/LGT1, status/can-merge

#35 add doc about inject network failure in physical node
  docs/simulate-network-chaos-in-physical-nodes.md
Labels: do-not-merge/blocked-paths, docs, size/XL, status/LGT1

#27 add doc for host chaosd in Chaosd
  docs/simulate-process-chaos-in-physical-nodes.md
Labels: docs, first-time-contributor, size/L, status/LGT1

#16 docs: add document for disk pressure in chaosd
  docs/simulate-disk-pressure-in-physical-nodes.md
  sidebars.js
Labels: docs, first-time-contributor, size/L, status/LGT1

#32 docs: add simulate JVMChaos
  docs/simulate-jvm-application-chaos.md
Labels: docs, size/L, status/LGT1

#28 docs: add simulate-http-chaos
  docs/simulate-http-chaos-on-kubernetes.md
Labels: docs, size/L, status/LGT1, status/can-merge

#7 docs: add simulate-io-chaos
  docs/simulate-io-chaos-on-kubernetes.md
  static/img/create-io-chaos-on-dashborad-1.jpg
  static/img/create-io-chaos-on-dashborad-2.jpg
  static/img/create-io-chaos-on-dashborad-3.jpg
  static/img/create-io-chaos-on-dashborad-4.jpg
  static/img/create-io-chaos-on-dashborad-5.jpg
Labels: docs, size/XL, status/LGT1, status/PTAL, status/can-merge

#18 docs: add define scheduling rules
  docs/define-scheduling-rules.md
  docs/img/create-new-schedule.png
  docs/img/define-schedule-inner-resource.png
  docs/img/define-schedule-spec.png
Labels: docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#30 docs: add simulate-aws-chaos
  docs/simulate-aws-chaos.md
Labels: do-not-merge/blocked-paths, docs, size/L, status/LGT1, status/PTAL

#17 docs: add configure protected namespace
  docs/configure-enabled-namespace.md
  docs/configure-protected-namespace.md
  sidebars.js
Labels: do-not-merge/blocked-paths, docs, first-time-contributor, size/L, status/LGT1, status/can-merge, status/require-change

#31 docs: add simulate NetworkChaos
  docs/img/networkchaos-exp.png
  docs/simulate-network-chaos-on-kubernetes.md
Labels: docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#33 add document for TimeChaos
  docs/img/timechaos-exp.png
  docs/simulate-time-chaos-on-kubernetes.md
Labels: docs, first-time-contributor, size/M, status/LGT1, status/PTAL, status/can-merge

#34 add docs about simulating heavy stress on kubernetes
  docs/img/stresschaos-exp.png
  docs/simulate-heavy-stress-on-kubernetes.md
Labels: docs, first-time-contributor, size/M, status/LGT1, status/PTAL, status/can-merge

#25 docs: run a chaos experiment
  docs/chaosctl-tool.md
  docs/clean-up-chaos-experiment.md
  docs/img/archive.png
  docs/img/archive_zh.png
  docs/img/configuration.png
  docs/img/configuration_zh.png
  docs/img/pause.png
  docs/img/pause_zh.png
  docs/img/restart.png
  docs/img/restart_zh.png
  docs/run-a-chaos-experiment.md
  docs/run-chaos-experiments-in-serial-or-parallel.md
  docs/simulate-aws-chaos.md
  docs/simulate-disk-pressure-in-physical-nodes.md
  docs/simulate-http-chaos-on-kubernetes.md
  docs/simulate-io-chaos-on-kubernetes.md
  docs/simulate-pod-chaos-on-kubernetes.md
  docs/simulate-process-chaos-in-physical-nodes.md
  sidebars.js
Labels: docs, size/XXL, status/LGT1, status/can-merge

#26 docs: add document for host console in chaosd
  docs/simulate-host-console-in-physical-nodes.md
  sidebars.js
Labels: docs, first-time-contributor, size/M, status/LGT1, status/can-merge, status/require-change

#38 add gcp-chaos
  docs/img/create-gcp-chaos-on-dashborad-2.jpg
  docs/img/create-gcp-chaos-on-dashborad-3.jpg
  docs/img/create-gcp-chaos-on-dashborad-4.jpg
  docs/simulate-gcp-chaos.md
Labels: docs, size/L, status/LGT1, status/PTAL, status/can-merge
