Repository chaos-mesh/website-zh, pull requests merged in 2021-08, with the labels that each got.

#63 chore: rename field name and types
  docs/run-chaos-experiments-in-serial-or-parallel.md
  versioned_docs/version-2.0.0/run-chaos-experiments-in-serial-or-parallel.md
Labels: docs, size/S, status/LGT1, status/can-merge, translation/from-website-en

#64 Update simulate-gcp-chaos.md
  docs/simulate-gcp-chaos.md
  versioned_docs/version-2.0.0/simulate-gcp-chaos.md
Labels: docs, size/XL, status/LGT1, status/can-merge, translation/doing

#65 updated docs: add-new-chaos-experiment-type, developer-guide-overview, configure-development-environment, extend-chaos-daemon-interface
  docs/add-new-chaos-experiment-type.md
  docs/configure-development-environment.md
  docs/developer-guide-overview.md
  docs/extend-chaos-daemon-interface.md
  docs/integrate-chaos-mesh-into-github-actions.md
  versioned_docs/version-2.0.0/add-new-chaos-experiment-type.md
  versioned_docs/version-2.0.0/configure-development-environment.md
  versioned_docs/version-2.0.0/developer-guide-overview.md
  versioned_docs/version-2.0.0/extend-chaos-daemon-interface.md
  versioned_docs/version-2.0.0/integrate-chaos-mesh-into-github-actions.md
Labels: docs, size/XXL, status/LGT1, status/can-merge

#67 fix typo in GCPChaos
  docs/simulate-gcp-chaos.md
  versioned_docs/version-2.0.0/simulate-gcp-chaos.md
Labels: docs, size/XS, status/LGT1, status/can-merge, translation/done

#61 Update simulate-io-chaos-on-kubernetes.md
  docs/simulate-io-chaos-on-kubernetes.md
Labels: status/can-merge, docs, first-time-contributor, size/XS, contribution, translation/no-need, status/LGT1

#68 add English images and review names of Chinese images
  docs/img/create-gcp-chaos-on-dashborad-2.png
  docs/img/create-gcp-chaos-on-dashborad-2_zh.jpg
  docs/img/create-gcp-chaos-on-dashborad-3.png
  docs/img/create-gcp-chaos-on-dashborad-3_zh.jpg
  docs/img/create-gcp-chaos-on-dashborad-4.png
  docs/img/create-gcp-chaos-on-dashborad-4_zh.jpg
  docs/img/create-pod-chaos-on-dashborad-1.png
  docs/img/create-pod-chaos-on-dashborad-1_zh.jpg
  docs/simulate-aws-chaos.md
  docs/simulate-gcp-chaos.md
  docs/simulate-pod-chaos-on-kubernetes.md
  versioned_docs/version-2.0.0/img/create-gcp-chaos-on-dashborad-2.png
  versioned_docs/version-2.0.0/img/create-gcp-chaos-on-dashborad-2_zh.jpg
  versioned_docs/version-2.0.0/img/create-gcp-chaos-on-dashborad-3.png
  versioned_docs/version-2.0.0/img/create-gcp-chaos-on-dashborad-3_zh.jpg
  versioned_docs/version-2.0.0/img/create-gcp-chaos-on-dashborad-4.png
  versioned_docs/version-2.0.0/img/create-gcp-chaos-on-dashborad-4_zh.jpg
  versioned_docs/version-2.0.0/img/create-pod-chaos-on-dashborad-1.png
  versioned_docs/version-2.0.0/img/create-pod-chaos-on-dashborad-1_zh.jpg
  versioned_docs/version-2.0.0/simulate-aws-chaos.md
  versioned_docs/version-2.0.0/simulate-gcp-chaos.md
  versioned_docs/version-2.0.0/simulate-pod-chaos-on-kubernetes.md
Labels: size/S, status/can-merge, docs, first-time-contributor, translation/no-need, status/LGT1

#69 add an annotation about client/HTTPS supports for docs of HTTPChaos
  docs/simulate-http-chaos-on-kubernetes.md
Labels: status/can-merge, docs, size/XS, status/LGT1, translation/doing

#66 docs: add jvm attack in physical node
  docs/simulate-jvm-application-chaos-in-physical-nodes.md
  sidebars.js
Labels: status/can-merge, docs, status/LGT1, size/XL, translation/doing
