Repository chaos-mesh/website-zh, pull requests merged in 2021-09, with the labels that each got.

#71 test pr
  docs/basic-features.md
  docs/chaosd-overview.md
Labels: docs, do-not-merge/blocked-paths, docs/cherry-version-2.0.1

#72 Revert "test pr"
  docs/basic-features.md
  docs/chaosd-overview.md
Labels: size/S, docs, do-not-merge/blocked-paths

#73 test pr
  docs/basic-features.md
  docs/chaosd-overview.md
Labels: size/S, docs, do-not-merge/blocked-paths

#82 test pr
  docs/basic-features.md
  docs/chaosd-overview.md
Labels: size/S, docs, do-not-merge/blocked-paths, docs/cherry-version-2.0.1

#88 test pr
  docs/basic-features.md
  docs/chaosd-overview.md
Labels: size/S, docs, do-not-merge/blocked-paths, docs/cherry-version-2.0.1

#96 test pr
  docs/basic-features.md
  docs/chaosd-overview.md
Labels: size/S, docs, do-not-merge/blocked-paths, docs/cherry-version-2.0.1

#98 test pr
  docs/basic-features.md
  docs/chaosd-overview.md
Labels: size/S, docs, do-not-merge/blocked-paths, docs/cherry-version-2.0.1

#101 test pr
  docs/basic-features.md
  docs/chaosd-overview.md
Labels: size/S, docs, do-not-merge/blocked-paths, docs/cherry-version-2.0.1

#106 docs: fix command in doc 'simulate process chaos in physical node'
  docs/simulate-process-chaos-in-physical-nodes.md
  versioned_docs/version-2.0.1/simulate-process-chaos-in-physical-nodes.md
Labels: size/S, status/can-merge, docs, status/LGT1, translation/from-website-en

#108 fix: bandwith params
  docs/simulate-network-chaos-on-kubernetes.md
  versioned_docs/version-2.0.1/simulate-network-chaos-on-kubernetes.md
Labels: docs, size/XS, status/LGT1, do-not-merge/blocked-paths
