Repository chaos-mesh/website-zh, pull requests merged in 2021-07, with the labels that each got.

#22 docs: create chaos mesh workflow
  docs/create-chaos-mesh-workflow.md
Labels: docs, requires-followup, size/L, status/LGT1, status/can-merge, translation/doing

#36 impl simulate-kernel-chaos-on-kubernetes.md
  docs/simulate-kernel-chaos-on-kubernetes.md
Labels: docs, first-time-contributor, requires-followup, size/L, status/LGT1, status/require-change, translation/doing

#42 use webarchive to replace 503 NetemCLG website
  docs/simulate-network-chaos-on-kubernetes.md
Labels: docs, size/XS, status/LGT1, status/can-merge

#43 review and update two docs: pod-chaos and physical-disk-pressure
  docs/simulate-disk-pressure-in-physical-nodes.md
  docs/simulate-pod-chaos-on-kubernetes.md
Labels: do-not-merge/blocked-paths, docs, size/XL, status/LGT1

#40 docs: add chaosd download
  docs/chaosd-overview.md
Labels: docs, size/M, status/LGT1, status/can-merge

#44 review and update: simulate-io-chaos-on-kubernetes.md
  docs/simulate-io-chaos-on-kubernetes.md
Labels: do-not-merge/blocked-paths, docs, size/L, status/LGT1

#45 docs: optimize inspect Chaos Mesh workflow doc
  docs/inspect-chaos-mesh-workflow.md
Labels: docs, size/S, status/LGT1, status/PTAL, status/can-merge

#46 chore: add entrance of website-zh
  README.md
Labels: size/XS, status/LGT1

#47 chore: version should contain prefix v
  docs/production-installation-using-helm.md
Labels: docs, size/XS, status/LGT1, status/can-merge

#48 remove unused chaptor
  docs/define-workflow-scheduling-rules.md
  sidebars.js
Labels: docs, size/XS, status/LGT1, status/can-merge

#50 update simulate-http-chaos-on-kubernetes.md
  docs/simulate-http-chaos-on-kubernetes.md
Labels: docs, size/L

#51 Refine format
  docs/simulate-kernel-chaos-on-kubernetes.md
Labels: do-not-merge/blocked-paths, docs, size/L, status/LGT1

#52 Review and update: simulate process and heave stress chaos
  docs/simulate-heavy-stress-in-physical-nodes.md
  docs/simulate-process-chaos-in-physical-nodes.md
Labels: docs, size/L, status/LGT2, status/can-merge

#49 docs: inspect chaos experiment
  docs/img/chaos_detail_status.png
  docs/img/chaos_detail_status_zh.png
  docs/img/list_chaos_status.png
  docs/img/list_chaos_status_zh.png
  docs/inspect-chaos-experiment.md
Labels: do-not-merge/blocked-paths, docs, size/L, status/LGT1

#53 docs: update dns chaos image
  docs/img/create-new-exp.jpeg
  docs/img/create-new-exp.png
  docs/img/dnschaos-exp.png
  docs/img/exp-info.png
  docs/simulate-dns-chaos-on-kubernetes.md
  docs/simulate-heavy-stress-on-kubernetes.md
  docs/simulate-network-chaos-on-kubernetes.md
  docs/simulate-time-chaos-on-kubernetes.md
Labels: do-not-merge/blocked-paths, docs, size/XS, status/LGT1

#39 docs: Add add-new-chaos-experiment-type, developer-guide-overview, configure-development-environment, extend-chaos-daemon-interface
  docs/add-new-chaos-experiment-type.md
  docs/configure-development-environment.md
  docs/developer-guide-overview.md
  docs/extend-chaos-daemon-interface.md
Labels: contribution, docs, size/XXL, status/LGT1, status/PTAL, status/can-merge

#41 docs: integrate chaos mesh into github actions
  docs/img/chaos-mesh-action-integrate-in-the-ci-workflow.png
  docs/img/creating-a-workflow.png
  docs/integrate-chaos-mesh-into-github-actions.md
  versioned_docs/version-2.0.0/img/chaos-mesh-action-integrate-in-the-ci-workflow.png
  versioned_docs/version-2.0.0/img/creating-a-workflow.png
  versioned_docs/version-2.0.0/integrate-chaos-mesh-into-github-actions.md
Labels: do-not-merge/blocked-paths, docs, size/XL, status/LGT1, status/PTAL

#54 Hide the TODO docs for further development
  docs/simulate-disk-pressure-in-physical-nodes.md
  docs/simulate-heavy-stress-in-physical-nodes.md
  docs/simulate-network-chaos-in-physical-nodes.md
  docs/simulate-process-chaos-in-physical-nodes.md
  sidebars.js
  versioned_docs/version-2.0.0/simulate-disk-pressure-in-physical-nodes.md
  versioned_docs/version-2.0.0/simulate-heavy-stress-in-physical-nodes.md
  versioned_docs/version-2.0.0/simulate-network-chaos-in-physical-nodes.md
  versioned_docs/version-2.0.0/simulate-process-chaos-in-physical-nodes.md
  versioned_sidebars/version-2.0.0-sidebars.json
Labels: do-not-merge/blocked-paths, docs, size/L

#55 update: simulate-network-chaos-on-kubernetes.md
  versioned_docs/version-2.0.0/simulate-host-console-in-physical-nodes.md
  versioned_docs/version-2.0.0/simulate-kernel-chaos-on-kubernetes.md
  versioned_docs/version-2.0.0/simulate-network-chaos-on-kubernetes.md
Labels: size/XL, status/LGT1, status/can-merge

#58 chore: fix typos in JVMChaos
  docs/simulate-jvm-application-chaos.md
Labels: docs, size/XS, status/LGT1, status/can-merge

#56 JVM application faults.md: clarify command and outputs
  docs/simulate-jvm-application-chaos.md
Labels: contribution, docs, first-time-contributor, size/XS, status/LGT1, status/can-merge

#57 chore: remove wip
  docs/create-chaos-mesh-workflow.md
Labels: docs, size/XS, status/LGT1, status/can-merge

#59 cherry-pick some fixes to version-2.0.0 #57 #58 #56
  docs/inspect-chaos-experiment.md
  versioned_docs/version-2.0.0/create-chaos-mesh-workflow.md
  versioned_docs/version-2.0.0/inspect-chaos-experiment.md
  versioned_docs/version-2.0.0/simulate-jvm-application-chaos.md
Labels: docs, size/S, status/LGT1, status/can-merge

#60 docs: update AwsChaos/GcpChaos to AWSChaos/GCPChaos
  docs/add-new-chaos-experiment-type.md
  docs/create-chaos-mesh-workflow.md
  docs/extend-chaos-daemon-interface.md
  docs/simulate-aws-chaos.md
  docs/simulate-gcp-chaos.md
  versioned_docs/version-2.0.0/add-new-chaos-experiment-type.md
  versioned_docs/version-2.0.0/create-chaos-mesh-workflow.md
  versioned_docs/version-2.0.0/extend-chaos-daemon-interface.md
  versioned_docs/version-2.0.0/simulate-aws-chaos.md
  versioned_docs/version-2.0.0/simulate-gcp-chaos.md
Labels: docs, size/L, status/LGT1, status/can-merge

#37 docs: add upgrade-to-2.0
  docs/extend-chaos-daemon-interface.md
  docs/inspect-chaos-mesh-workflow.md
  docs/simulate-disk-pressure-in-physical-nodes.md
  docs/simulate-http-chaos-on-kubernetes.md
  docs/simulate-kernel-chaos-on-kubernetes.md
  docs/simulate-pod-chaos-on-kubernetes.md
  docs/upgrade-to-2.0.md
  sidebars.js
  versioned_docs/version-2.0.0/simulate-host-console-in-physical-nodes.md
  versioned_docs/version-2.0.0/simulate-http-chaos-on-kubernetes.md
  versioned_docs/version-2.0.0/simulate-network-chaos-on-kubernetes.md
  versioned_docs/version-2.0.0/simulate-pod-chaos-on-kubernetes.md
Labels: contribution, docs, first-time-contributor, size/XXL, status/LGT1, status/can-merge, translation/doing

#62 update: upgrade-to-2.0.md
  docs/upgrade-to-2.0.md
  versioned_docs/version-2.0.0/upgrade-to-2.0.md
Labels: docs, size/M, status/LGT1, status/can-merge
